* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    background-color: #FF914D;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}
#content {
    height: 80vh;
    width: 60vw;
    display: flex;
    position: relative;
    top: 10%;
    flex-direction: column;
    align-items: center;
}
#adder {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
a {
    color: black;
}
#title {
    width: 100%;
}
.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#maintitle {
    font-size: 72px;
}
#subtitle {
    font-size: 28px;
}
#converters {
    height: 10vh;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-bottom: 6%;
}
.cnvrtr {
    height: 70px;
    width: 290px;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
    display: flex;
}
.cnvrtrtxt {
    position: absolute;
    top: 10%;
    font-size: 14px;
    margin-left: 10px;
}
input {
    border: none;
}
.inputs {
    height: 68px;
    width: 200px;
    border-right: 1px solid;
    border-radius: 30px 0px 0px 30px;
    text-align: end;
    font-size: 24px;
}
.selections {
    height: 140px;
    width: 90px;
}
.selections select {
    height: 69px;
    width: 90px;
    border: 0px;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}
#button {
    height: 75px;
    width: 250px;
    border: 1px solid;
    border-radius: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#button b {
    color: #FF914D;
    font-size: 32px;
    
}
#safeguard {
    margin-top: 10%;
    width: 45vw;
    font-size: 24px;
}
#safeguard b {
    text-decoration: underline;
}
#slideshow {
    width: 40vw;
    position: relative;
    overflow: hidden;
}
.slide {
    display: none;
}

.fade {
    animation: fadeEffect 2s ease-in-out infinite alternate;
}

.slideshowC {
    height: 1090px;
    width: 40vw;
}

@keyframes fadeEffect {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
}

